* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

.find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.btn {
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 16px;
  margin-bottom: 30px;
  border-radius: 2px solid white;
  background-color: tomato;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}
